@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes resizeHyphen {
  0% {
    width: 0.5em;
  }
  50% {
    width: 1em;
  }
  100% {
    width: 0.5em;
  }
}

@keyframes blob {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

body {
  margin: 100vh 0 0 0;
}

#hero {
  transform: translate(0, 0);
  opacity: 0;
}

.arrow-icon {
  position: fixed;
  bottom: 32px;
  left: 50%;
  width: 16px;
  transform: translate(-50%, 0)
}

img {
  filter: grayscale(80%) brightness(125%) contrast(125%);
}

h1 span {
  display: inline-block;
  background-color: black;
  width: 1em;
  height: 0.02em;
  vertical-align: middle;

  animation: resizeHyphen 3s 1.5s infinite both cubic-bezier(0.86, 0, 0.07, 1);
}

svg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  mix-blend-mode: multiply;
  pointer-events: none;
}

path {
  transform: scale(0);
  transition: transform 5s;
}

g.in-view path {
  transform: scale(1);
}

::-webkit-scrollbar {
  width: 8px;
  background-image: linear-gradient(180deg, #a4c3b2, #84a98c, #cad2c5);
}

::-webkit-scrollbar-thumb {
  background-color: #6b9080;
  border-radius: 5px;
}
